*
{
	font-family: sans-serif, Arial ;
}
h1{
    text-align: center;
}
#left{
    float:left;
    width: 10%;
    height:100%;
    background-color: palegreen;
}
#middle{
    float: left;
    width: 80%;
    height:100%;
    text-align: center;
    background-color: gold;
}
p.p{
    text-align: left;
}
#right{
    float:right;
    width:10%;
    background-color: skyblue;
    height:100%;
}
#bottom{
    text-align: center;
    background-color: orange;
}
hr 
{
    color:black;
}
a:visited{
	color: orange;
	text-decoration: line-through;
}
a:link{
	color: red;
}
a:hover{
	color:pink;
}